# Ne pas envoyer la base de données de test
gindex.db

# Ne pas envoyer ta configuration personnelle
config.txt
settings.ini

# Dossiers Python temporaires
__pycache__/
*.pyc

gindex_config.json
logging
test_borne.py
